# Black box testing report

#
Group 17

| Requirements | Behavior | Test results |
| --- | --- | --- |
| Button functions | Play function
 | Play function works well, the game starts and the menu screen shows | Pass
 |
| Quit function | Quit function works well, the game ends and closes. |
| Tutorial function | Tutorial function works well, the tutorial starts and tutorial screen shows. |
| Animations | Player movement | Player attack animations work well, player is able to attack in 8 directions smoothly. | Pass |
| Player attacks | Player movement works well, player is able to move in 8 directions smoothly. |
| Potions | Potions works well, each potion do its adjustment to the player. | Pass |
| Calculating system | Damage system | System works well, damage dealt and inflicted calculations are correct. | Pass |
| Health system | System works well, HP loss and gain calculations are correct |
| NPC interactions | NPC interactions work well, NPCs are able to talk when the player is close. | Pass |